<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<title>{{meta_title}}</title>
		<meta name="HandheldFriendly" content="True">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

	    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
	    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/list.min.css">
	    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/card.min.css">
	    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/dropdown.min.css">

		<link rel="stylesheet" href="{{asset "css/style.css"}}">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/dropdown.min.js"></script>
		
		<script defer data-domain="internetfreedom.in" src="https://plausible.io/js/plausible.js"></script>
		<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>


		{{ghost_head}}

		<script defer src="{{asset "js/base.js"}}"></script>
	</head>
	<body class="{{body_class}}{{tags autolink='off'}}">
		<div class="wrapper">
			<header>
				<a class="logo" href="{{@site.url}}">
					{{>logo}}
					<svg class="logo-h"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						viewBox="0 0 300 125"
						version="1.1">
						<use x="0" y="0" xlink:href="#icon"/>
						<use x="146" y="22.5" xlink:href="#text"/>
					</svg>
					<svg class="logo-v"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						viewBox="0 0 160 224"
						version="1.1">
						<use x="17.5" y="0" xlink:href="#icon"/>
						<use x="5" y="144" xlink:href="#text"/>
					</svg>
					<div class="gap">&nbsp;</div>
					<div class="toggle-menu">MENU</div>
				</a>
				<div class="menu">
					<nav class="primary">{{navigation}}</nav>
		            <nav class="footer">{{> footer}}</nav>
				</div>
			</header>
			{{{body}}}
		</div>

		<script defer src="https://checkout.razorpay.com/v1/checkout.js"></script>

		{{ghost_foot}}
	</body>
</html>
